log4j.rootLogger={{ loglevel }}, stdout, connectAppender
log4j.appender.stdout=org.apache.log4j.ConsoleAppender
log4j.appender.stdout.layout=org.apache.log4j.PatternLayout
#log4j.appender.connectAppender=org.apache.log4j.DailyRollingFileAppender
#log4j.appender.connectAppender.DatePattern='.'yyyy-MM-dd-HH
log4j.appender.connectAppender=org.apache.log4j.RollingFileAppender
log4j.appender.connectAppender.MaxFileSize=100MB
log4j.appender.connectAppender.MaxBackupIndex=1
log4j.appender.connectAppender.File=${kafka.logs.dir}/connect.log
log4j.appender.connectAppender.layout=org.apache.log4j.PatternLayout
connect.log.pattern=[%d] %p %m (%c:%L)%n
log4j.appender.stdout.layout.ConversionPattern=${connect.log.pattern}
log4j.appender.connectAppender.layout.ConversionPattern=${connect.log.pattern}
log4j.logger.org.apache.zookeeper=DEBUG
log4j.logger.org.reflections=DEBUG
log4j.logger.org.apache.kafka.clients.consumer={{ loglevel }}
log4j.logger.org.apache.kafka.clients.producer={{ loglevel }}
log4j.logger.org.apache.connect.runtime.WorkerSourceTask=DEBUG
log4j.logger.org.apache.connect.runtime.WorkerSinkTask=DEBUG
log4j.logger.org.apache.kafka.connect=DEBUG
log4j.logger.io.confluent.connect.elaticsearch=DEBUG
log4j.logger.io.confluent.connect.jdbc=DEBUG
