# =============================================================================
# CONFLUENT CLOUD CONFIGURATION
# =============================================================================
environment_id = "env-xxxxx"
cloud          = "AZURE"
region         = "westus2"
compute_pool_name = "cp-flink-ejemplo"

# =============================================================================
# VAULT CONFIGURATION
# =============================================================================
vault_addr = "http://127.0.0.1:8200"
vault_kv_mount = "kv"
vault_secret_path = "confluent/cloud/creds"
