.terraform/
*.tfstate
*.tfstate.*
*.tfstate.backup
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
*.tfvars
*.tfvars.json
!*.tfvars.example
.DS_Store
*.swp
.env
.env.*
